input/CM2.V8NC3I.report.tsv
input/CM2.V9Q7Z9.report.tsv
input/CM2.V61GT1.report.tsv
input/CM2.V62ZVR.report.tsv
input/CM2.V412BS.report.tsv
input/CM2.V704VW.report.tsv
input/CM2.VBGWS0.report.tsv
input/CM2.VC7AA1.report.tsv
input/CM2.VD6NXV.report.tsv
input/gtdbtk.V8NC3I.ar53.summary.tsv
input/gtdbtk.V8NC3I.bac120.summary.tsv
input/gtdbtk.V9Q7Z9.ar53.summary.tsv
input/gtdbtk.V9Q7Z9.bac120.summary.tsv
input/gtdbtk.V61GT1.ar53.summary.tsv
input/gtdbtk.V61GT1.bac120.summary.tsv
input/gtdbtk.V62ZVR.bac120.summary.tsv
input/gtdbtk.V412BS.bac120.summary.tsv
input/gtdbtk.V704VW.bac120.summary.tsv
input/gtdbtk.VBGWS0.bac120.summary.tsv
input/gtdbtk.VC7AA1.bac120.summary.tsv
input/gtdbtk.VD6NXV.bac120.summary.tsv
input/gtdbtk.VDP9LB.ar53.summary.tsv
input/gtdbtk.VDP9LB.bac120.summary.tsv
results/results.xlsx
